<script src="app.js"></script>

<h1>TrekMovie.com Mongo Scraper App</h1>
<p>Click on a given article to open the note function</p>
<a href="https://trekmovie.com">Visit TrekMovie.com</a>

{{#each data}}

    <div id="wrapper">
    <p data-id={{this.id}} title={{this.title}} class="title">Article: {{this.title}}</p>
    <p data-id={{this.id}} title={{this.title}}>Link: {{this.link}}</p>
    <div id="titles"></div>
    <div id="links"></div>
</div>

{{/each}}


{{#each note}}
    <p data-id={{this.id}}>{{this.title}}</p>
    <p data-id={{this.id}}>{{this.body}}</p>
{{/each}}